$grey: #505050;
$green: #80bc00;
$breakpoint-mobile: 766px;
$breakpoint-laptop: 1200px;
$breakpoint-notebook: 990px;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&display=swap");
